<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <!-- Adding pooling=false due to bug see https://github.com/npgsql/npgsql/issues/1105 -->
    <add name="db_connection" connectionString="server=81.25.82.40; port=5432; user id=adminkulobus; password=developer; database=kulochbus; Pooling=false"
         providerName="Npgsql" />
  </connectionStrings>
</configuration>
